.base{
    /* margin-top: 50px !important;
    margin-bottom: 50px !important; */
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.3' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  }
  

  /* Header */
  .b-header {
    border-bottom: 1px solid #e5e5e5;
    padding: auto;
  }
  
  .b-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size:150%;
  }
  
  .b-header-logo:hover {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  

  .card{
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
  }
  .card-title{
    /* font-style: italic!important; */
    /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
    font-size: calc(1.275rem + .3vw);
    font-weight: bold;
  }
  .btn{
    font-family: "montserrat", sans-serif;
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s;
    box-shadow: 0 9px #999;
  }
  .btn:hover{
    background: #e55039;
    color: #fff;
  }
  .btn:active{
    color: #fff;
    /* background: #e55039 !important; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
/* Imagen */
  #l-img-3{
    width:100%;
    max-width:640px;
  }



  /* login ingresante */
  .form-floating, .col-md-12{
    padding-bottom: 10px !important;
  }


  /* formulario ingresante */
  .alert{
    margin-top: 16px !important;
  }