{% extends "base_ficha.html" %}
{% block content %}





<!-- -----body------- -->

<div class="px-4 pt-5 pb-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Bienvenido(a)</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">al sistema de calificación de fichas socieconomicas &#128515;</p>
        <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Ingresante</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Iniciar sesión</button>
      </div> -->
        <img src="{{ url_for('static',filename='images/Brainstorming.svg') }}" id="Brainstorming_img" alt="">
    </div>
</div>



{% endblock %}